#our_team.section.bkg-blue
  .container
    %h1.center-text.margin_none Nuestro <strong>equipo</strong>
    .row.team-members
      .col-xs-6.col-sm-6.col-md-4
        .team-member
          = image_tag "photos/ruben-torres.png"
          %h3 Rubén Torres
          %p 
            Co-Fundador / Director Médico
            %br
            Médico Nefrólogo, MSc
      .col-xs-6.col-sm-6.col-md-4
        .team-member
          = image_tag "photos/waldo-uribe.png"
          %h3 Waldo Uribe
          %p 
            Co-Fundador / Tecnología
            %br
            Ingeniero Civil en Computación UChile
      .col-xs-6.col-sm-6.col-md-4
        .team-member
          = image_tag "photos/jose-miguel.png"
          %h3 José Miguel Vicente
          %p 
            Co-Fundador / Investigación
            %br
            Estudiante Medicina UChile
    .row.team-members
      .col-xs-6.col-sm-6.col-md-4.col-md-offset-2
        .team-member
          = image_tag "photos/pablo-ampuero.png"
          %h3 Pablo Ampuero
          %p 
            Interfaces y Experiencia de usuario
            %br
            Diseñador
      .col-xs-6.col-sm-6.col-md-4
        .team-member
          = image_tag "blank-user.png"
          %h3 Matías Menich
          %p
            Desarrollo de software 
            %br
            Ingeniero Civil en Computación UChile
