%p
  %b Patient:
  = @epicrisis.patient
%p
  %b Aki diagnosis:
  = @epicrisis.aki_diagnosis
%p
  %b Aki stage:
  = @epicrisis.aki_stage
%p
  %b Admission date:
  = @epicrisis.admission_date
%p
  %b Admission unit:
  = @epicrisis.admission_unit
%p
  %b Discharge date:
  = @epicrisis.discharge_date
%p
  %b Admission unit:
  = @epicrisis.admission_unit
%p
  %b Admission reason:
  = @epicrisis.admission_reason
%p
  %b Dead:
  = @epicrisis.dead
%p
  %b Nephrology assessment:
  = @epicrisis.nephrology_assessment
%p
  %b Nephrology appointment:
  = @epicrisis.nephrology_appointment
%p
  %b Ckd:
  = @epicrisis.ckd
%p
  %b Rrt:
  = @epicrisis.rrt
%p
  %b Intrahospital sepsis:
  = @epicrisis.intrahospital_sepsis
%p
  %b Ami:
  = @epicrisis.ami
%p
  %b Htn:
  = @epicrisis.htn
%p
  %b Copd:
  = @epicrisis.copd
%p
  %b Cld:
  = @epicrisis.cld
%p
  %b Dm:
  = @epicrisis.dm
%p
  %b Esrd:
  = @epicrisis.esrd
%p
  %b Tel:
  = @epicrisis.tel

= link_to 'Volver', epicrises_path
