%p#notice= notice

%p
  %b Institution:
  = @user.institution
%p
  %b Email:
  = @user.email
%p
  %b Name:
  = @user.name
%p
  %b Password digest:
  = @user.password_digest
%p
  %b Authentication token:
  = @user.auth_token

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
