.container
  .row
    .col-xs-12
      .header
        %h1= @patient
      .mt-md
        = render 'patients/info', patient: @patient
      .mt-md
        = render 'patients/worst_alert_kinds', patient: @patient
  %hr
  .row.mt-lg
    - if @patient.creatinine_tests.any?
      .col-xs-12.col-sm-9
        = content_tag :div, "", id: "chart", data: {values: tests_chart_data(@patient), label: 'mg/dL'}, class: 'chart'
        :javascript
          $(document).ready(function () {
            Morris.Line({
              element: 'chart',
              data: $('#chart').data('values'),
              xkey: 'y',
              ykeys: ['mg/dL'],
              labels: [$('#chart').data('label')]
            });
          });
      .col-xs-12.col-sm-3
        %table.table
          %tr
            %th Fecha
            %th.center-text mg/dL
          - @patient.creatinine_tests.each do |creatinine_test|
            %tr
              %td
                %span= date(creatinine_test.performed_at)
                %br
                %span.xs= creatinine_test.performed_at.strftime("%H:%M")
              %td.center-text
                = creatinine_test.level
    - else
      .col-xs-12
        .dotted-container
          %p.center-text= "No hay exámenes para este paciente"
  %hr
  .row
    .col-xs-12
      %h2.mb-lg Diagnosticos AKI
      - if @patient.aki_diagnoses.any?
        - @patient.aki_diagnoses.order("discovered_at DESC").each do |aki_diagnosis|
          = render 'alerts/aki', aki_diagnosis: aki_diagnosis
      - else
        .dotted-container
          %p.center-text
            = "Sin diagnósticos"
