= simple_form_for [@institution, @trigger] do |f|
  .row
    .col-xs-12.col-sm-6
      = f.association :parameter_kind, collection: @parameter_kinds
    .col-xs-12.col-sm-6
      = f.input :kind, collection: trigger_kinds, include_blank: false
  .row
    .col-xs-12.col-sm-6
      = f.association :arg0, collection: @parameter_kinds, label: 'Dividendo'
    .col-xs-12.col-sm-6
      = f.association :arg1, collection: @parameter_kinds, label: 'Almacenar resultado en'
  .row
    .col-xs-12.col-sm-6
      = f.association :alert_kind, collection: @alert_kinds
    .col-xs-12.col-sm-6
      = f.input :value
  .row
    .col-xs-12
      %hr
      = f.button :submit, class: 'pull-right btn btn-primary'
