.container
  .row
    .col-xs-12
      %h1.center-text Reportes
  .row.mt-lg
    .col-xs-12
      = simple_form_for :alert, url: institution_reports_path(@institution), method: 'GET', html: {class: ''} do |f|
        %row
          .col-xs-12.col-sm-6
            = f.input :from_date, as: :date, label: 'Desde', default: @from_date
            = f.input :to_date, as: :date, label: 'Hasta', default: @to_date
          .col-xs-12.col-sm-4.col-sm-offset-2
            = f.input :alert_kind_id, collection: @alert_kinds, label: 'Tipo de alerta', include_blank: '-- Todas --', selected: @alert_kind_id
            = f.submit 'Filtrar', class: 'btn btn-primary btn-block', style: 'margin-top: 29px'
        .clearfix
      %hr
  .row.center-text
    .col-xs-12.col-sm-3
      %h2 
        Pacientes
        %br
        %b
          %i.glyphicon.glyphicon-user
          = @patients_count
      %p
        Total de pacientes con al menos una alerta
    .col-xs-12.col-sm-3
      %h2 
        Género
        %br
        %b
          %small.small H
          = @male_patients_count
        %b.ml-md
          %small.small M
          = @female_patients_count
      %p
        Género de los pacientes con al menos una alerta
    .col-xs-12.col-sm-3
      %h2 
        Edad promedio
        %br
        %b
          %i.glyphicon.glyphicon-gift 
          = @average_patients_age
      %p
        Edad promedio de los pacientes con al menos una alerta
    .col-xs-12.col-sm-3
      %h2 
        Alertas
        %br
        %b
          %i.glyphicon.glyphicon-bell 
          = @alert_count
      %p
        Total de alertas
  %hr
  .row
    .col-xs-12
      %h1 Alertas por día
      - if @alerts.present?
        = @alerts_by_date
        = content_tag :div, "", id: "alert-count-chart", class: 'chart', data: {values: @alert_count_by_date.map{|date, count| {'x'=>date, 'y' => count}}}
        :javascript
          $(document).ready(function () {
            Morris.Bar({
              element: 'alert-count-chart',
              data: $('#alert-count-chart').data('values'),
              xkey: 'x',
              ykeys: ['y'],
              labels: ['Alertas'],
              lineColors: ['blue']
            });
          });
      - else
        .dotted-container
          %p.center-text
            No hay alertas para el filtro aplicado
